.friends-list-wrapper {
  min-width: 15rem;
  padding: 0.6rem;
  height: 100%;
}

.direct-messages {
  font-weight: 500;
}

.friends-list {
  list-style: none;
  padding: 0;
}

.friends-list li {
  border-radius: 6px;
  margin-bottom: 0.4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  cursor: pointer;
}

.friends-list li:hover {
  background-color: #44484c;
}

.friends-list img {
  height: 2.5rem;
  border-radius: 50%;
}

.friends-list span {
  margin-left: 0.3rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.friends-list-item {
  position: relative;
}

.action-wrapper {
  position: absolute;
  right: 0;
  display: flex;
}

.action-wrapper .button {
  background-color: #353c42;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0.25rem;
}

.icon {
  font-size: 2rem;
}

.confirm:hover {
  color: green;
}

.deny:hover {
  color: red;
}

.search-bar-container{
  padding: 0.5rem 0;
  width: 100%;
  position: relative;
}

.clear-search, .search-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
  color: #9ea09a;
}

.search-icon {
  font-size: 22px;
  cursor: default;
}

.input-field {
  width: 100%;
  background-color: #3f3f3f;
  outline: none;
  color: var(--light-gray-text);
  border:none;
  text-indent: 5px;
  height: 1.8rem;
  border-radius: 5px;
}

.input-field::placeholder {
  color: #a7a7aa;
}

.input-field:hover {
  background-color: #5b5b5b;
}

.input-field:focus{
  border: 1px solid #a8a8a8;
  text-indent: 4px;
}
