<div class="settings">
  <div class="user-info-wrapper">
    <img [src]="profileImageUrl" class="skeleton">
    <label class="username-label">{{initialDisplayName}}</label>
    <label for="upload" class="upload-label">Upload photo</label>
    <input type="file" id="upload" (change)="getImage($event)" style="display: none;">
    <div class="user-info-inputs">
      <form #userSettingsForm="ngForm" (ngSubmit)="onSaveChanges(userSettingsForm)">
        <div class="user-info-inputs-element">
          <label for="display-name">Display Name</label>
          <input class="input-field" id="display-name" type="text" (ngModelChange)="onFormChange()" ngModel name="displayName" [value]="initialDisplayName" placeholder="Enter your display name...">
        </div>
        <div class="user-info-inputs-element">
          <label for="discord-username">Discord Username</label>
          <input class="input-field" id="discord-username" type="text" (ngModelChange)="discordUsernameModified = true" ngModel name="discordUsername" [value]="initialDiscordUsername" placeholder="Example#8309" pattern="[a-zA-Z]{2,32}#[0-9]{4}">
          <div *ngIf="userSettingsForm.controls['discordUsername']?.invalid && (userSettingsForm.controls['discordUsername'].dirty || userSettingsForm.controls['discordUsername'].touched)"
          class="error-block">Invalid Discord username format. Please input a valid discord Username: Example#8309</div>
        </div>
        <div class="user-info-inputs-element">
          <label for="discord-username">Summary</label>
          <textarea class="input-field" id="summary" type="text" (ngModelChange)="onFormChange()" ngModel name="summary" [value]="initialSummary" placeholder="Describe yourself..."></textarea>
        </div>
        <button [disabled]="!formModified && !discordUsernameModified && !photoChanged" class="save-button" type="submit">Save Changes</button>
      </form>
    </div>
  </div>


  <!-- <button (click)="Test()">test</button> -->
</div>
