.add-game-form {
  z-index: 1;
}

.photo-form {
  min-height: 140px;
  vertical-align: middle;
  text-align: center;
  border: 1px dashed white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-image {
  max-width: 40px;
  max-height: 40px;
  min-height: 30px;
  min-width: 30px;
}
