<section class="add-game-form vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Add Game</h2>
              <p class="text-white-50 mb-5"></p>

              <form #gameForm="ngForm" (ngSubmit)="onSubmit(gameForm)">
              <div class="form-outline form-white mb-4">
                <label class="form-label">Game Name</label>
                <input type="text" class="form-control form-control-lg" ngModel required name="name"/>

              </div>

              <div class="form-outline form-white mb-4">
                <label class="form-label">Image</label>
                <div class="photo-form">
                  <input type="file" id="game-image" name="game-image" ngModel (change)="getImage($event)" required name="image">
                  <img *ngIf="image" class="preview-image" [src]="previewImage">
                </div>
              </div>


              <button [disabled]="!gameForm.valid" class="btn btn-outline-light btn-lg px-5" type="submit">Add Game</button>
            </form>

          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
