
<div class="main-body">
  <div class="row">
    <div class="game-selection shadow-lg px-0">

      <ul class="p-0 game-sidebar">
        <li  class="game-sidebar-item">
          <i (click)="onAddGame()" class='add-btn bx bx-plus'></i>
        </li>
        <li class="game-sidebar-item" (click)="onMyGame(game)" *ngFor="let game of userGameList | sort: 'descending' :'userGameAddedOn'">
          <img class="game-sidebar-image" src="{{game.gameImageUrl}}" alt="">
        </li>

      </ul>
      <div *ngIf="addGameCardEnabled" class="component-section">
          <app-user-game-add (gameAdded)="updateGameList()"></app-user-game-add>
      </div>
      <div *ngIf="userGameDetailsEnabled" class="component-section">
          <app-user-game-details [game]="selectedGame" (gameDeleted)="updateGameList('delete')" (gameUpdated)="updateGameList()"></app-user-game-details>
      </div>
    </div>

  </div>
</div>
