<i *ngIf="userIsLoggedin() && !isOpen" class='bx bx-menu sidebar-open-btn' style='color:#eaeaea' data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" (click)="onBurgermenuClick()"></i>

<div class="offcanvas offcanvas-end text" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" [ngClass]="{'show': isOpen}" (hidden.bs.offcanvas)="onOffcanvasHidden()">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Account Settings</h5>
    <i class='bx bx-x close-btn' style='color:#e4e0e0'  data-bs-dismiss="offcanvas" (click)="onCloseButton()"></i>
  </div>
  <div class="offcanvas-body">
    <ul class="sidebar-menu">
      <li *ngFor="let item of sidebarData" class="sidebar-menu-item">
        <i class="{{item.icon}} icon"></i>
        <a class="label" (click)="executeFunction(item.functionName)">{{item.label}}</a>
      </li>
    </ul>

    <!-- <div class="sidebar-menu-item logout-btn">
      <i class='bx bx-exit icon'></i>
      <a class="label" (click)="onLogout()">Logout</a>
    </div> -->
  </div>
  <div class="offcanvas-header" style="border-top: 1px #9a999b solid;">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Admin/Staff Options</h5>
  </div>
  <div class="offcanvas-body">
    <ul class="sidebar-menu">
      <li *ngFor="let item of sidebarDataAdmin" class="sidebar-menu-item">
        <i class="{{item.icon}} icon"></i>
        <a class="label" (click)="executeFunction(item.functionName)">{{item.label}}</a>
      </li>
    </ul>
  </div>
</div>


