* {
  font-family: 'poppins', sans-serif;
}

.offcanvas {
  background-color: var(--main-color);
}

.close-btn, .sidebar-open-btn{
  font-size: 40px;
  cursor: pointer;
}

.text {
  color: var(--sidebar-menu-text);
}

.sidebar-open-btn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  margin: 8px 10px 0 0;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.sidebar-menu-item {
  color: var(--sidebar-menu-text);
  list-style: none;
  border: 2px var(--sidebar-menu-text) hidden;
  border-radius: 0.725rem;
  margin: auto;
  height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.sidebar-menu-item:hover {
  background-color: var(--sidebar-menu-text);
  border: solid;
}

.sidebar-menu-item:hover .label,
.sidebar-menu-item:hover .icon {
  color: var(--main-color);
}

.sidebar-menu-item .icon {
  font-size: 35px;;
  margin-right: 1rem;
}

.sidebar-menu-item .label {
  color: var(--sidebar-menu-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.425rem;
  transition: 0.3s;
}

.sidebar-menu-item:hover .label {
  transform: translateX(20%);
}

.offcanvas-header {
  border-bottom: 1px #9a999b solid;
}
