<div class="background">
  <div class="profile-header">
    <img class="profile-image" [src]="userProfile?.profileImageUrl">
    <span class="profile-name">{{userProfile?.displayName}}</span>
  </div>

  <div class="tabbed-navigation">
    <button (click)="selectTab('description')" [class.active]="selectedTab === 'description'">Description</button>
    <button (click)="selectTab('games')" [class.active]="selectedTab === 'games'">Games</button>
  </div>

  <div class="tab-content">
    <div class="description-tab" *ngIf="selectedTab === 'description'">
      <p class="tab-content-header">Description</p>
    </div>

    <div class="games-tab" *ngIf="selectedTab === 'games'">
      <p class="tab-content-header">Games</p>
      <div class="games-row">
        <div class="user-games-item animate" *ngFor="let game of userProfileGames" (click)="onUserGame(game)">
          <img [ngClass]="{'glow-border': game.isMatching}" [src]="game.gameImageUrl">
        </div>
      </div>
    </div>
  </div>
</div>
