* {
  color: var(--light-grey-text);
}

.background {
  background-color: var(--main-color);
  height: 45rem;
  margin: 0 auto;
  max-width: 30rem;
}

.background.nested {
  min-width: 24rem;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  max-width: 13rem;
  max-height: 13rem;
  padding: 2rem;
  border-radius: 50%;
}

.profile-name {
  font-size: 1.6rem;
}

.tabbed-navigation {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.tabbed-navigation button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  height: 2.4rem;
}

.tabbed-navigation button.active {
  border-bottom: 2px solid #3896f4;
  height: 2.5rem;
}

.tab-content {
  height: 24rem;

  padding: 1.5rem;
}

.description-tab, .games-tab {
  border: 1px solid gray;
  height: 100%;
  position: relative;
}

.tab-content-header {
  text-align: center;
  font-size: 1.3rem;
  padding-top: 1.3rem;
}

.games-row {
  display: flex;
  justify-content: center;
}

.user-games-item {
  padding: 0.2rem;
  cursor: pointer;
}

.user-games-item img{
  height: 3.5rem;
  border-radius: 50%;
}

.user-games-item:hover {
  scale: 1.2;
}

.game-description-container {
  padding: 0.5rem;
  height: 65.35%;
  text-align: center;
}

.game-description {
  background-color: #2c2c30;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10rem;
  margin: 0.5rem;
  outline: none;
  font-size: 1rem;
}

.summary-container {
  padding: 0.5rem;
  width: 100%;
  height: 84.2%;
}

.user-summary {
  background-color: #2c2c30;
  height: 100%;
  max-height: 100%;
  width: 100%;
  outline: none;
}

.socials-container {
  margin-top: 2rem;
  padding: 1rem;
}

.discord-logo {
  max-height: 3rem;
  padding-right: 1rem;
}

.discord-username {
  outline: none;
  background-color: #54545b;
  border: none;
  height: 1.8rem;
  border-radius: 5px;
}

.matching-notifier {
  color: #1fc55e;
}

.animate {
  transition: all 0.3s ease-in-out;
}

.glow-border {
  animation: glow 2s infinite;
}

@keyframes glow {
  0% {
    border: 2px solid rgba(0, 255, 0, 0.7);
  }
  50% {
    border: 2px solid rgba(0, 255, 0, 1);
    box-shadow: 0 0 10px rgba(0, 255, 0, 1);
  }
  100% {
    border: 2px solid rgba(0, 255, 0, 0.7);
  }
}

.background-loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 65px;
  height: 65px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
