* {
  color: var(--light-grey-text);
}

.background {
  background-color: var(--main-color);
  height: 45rem;
  margin: 0 auto;
  max-width: 30rem;

}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  max-width: 13rem;
  max-height: 13rem;
  padding: 2rem;
  border-radius: 50%;
}

.profile-name {
  font-size: 1.6rem;
}

.tabbed-navigation {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.tabbed-navigation button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  height: 2.4rem;
}

.tabbed-navigation button.active {
  border-bottom: 2px solid #3896f4;
  height: 2.5rem;
}

.tab-content {
  height: 24rem;

  padding: 1.5rem;
}

.description-tab, .games-tab {
  border: 1px solid gray;
  height: 100%;
}

.tab-content-header {
  text-align: center;
  font-size: 1.3rem;
  padding-top: 1.3rem;
}

.games-row {
  display: flex;
  justify-content: center;
}

.user-games-item {
  padding: 0.2rem;
  cursor: pointer;
}

.user-games-item img{
  height: 3.5rem;
  border-radius: 50%;
}

.user-games-item:hover {
  scale: 1.2;
}

.animate {
  transition: all 0.3s ease-in-out;
}
