<div>
  <div class="friends-list-wrapper">
    <div class="friends-list-header">
      <span class="direct-messages">Direct messages</span>
      <input type="text" [(ngModel)]="friendFilter" placeholder="Search for friend...">
    </div>

    <ul class="friends-list">
      <li *ngFor="let user of friendsList | filter: friendFilter : 'displayName'" (click)="onFriendClick(user)" [class.selected]="user === selectedFriend">
        <img [src]="user.profileImageUrl">
        <span>{{user.displayName}}</span>
      </li>
    </ul>
  </div>

</div>


