.friends-list-wrapper {
  min-width: 15rem;
  padding: 0 0.6rem;
  height: 100%;
  border-top: 1px solid gray;
  padding-top: 0.5rem;
}

.direct-messages {
  font-weight: 500;
}

.friends-list {
  list-style: none;
  padding: 0;
}

.friends-list li {
  border-radius: 6px;
  margin-bottom: 0.4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  cursor: pointer;
}

.friends-list li:hover {
  background-color: #545454;
}

.friends-list img {
  height: 2.5rem;
  border-radius: 50%;
}

.friends-list span {
  margin-left: 0.3rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.friends-list li.selected {
  background-color: #545454;
}



.friends-list-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.friends-list-header input {
  margin: 0.3rem 0;
  background-color: #3f3f3f;
  border: 0;
  padding: 0.25rem;
  border-radius: 5px;;
  color: var(--light-gray-text);
  text-indent: 5px;
  outline: none;
}

.friends-list-header input:focus {
  border: grey 1px solid;
  padding: 0.2rem;
}

.friends-list-header input::placeholder {
  color: #777777;
}

.search-field {
  position: relative;
  display: flex;
}

.search-field input {
  width: 100%;
}

.clear-search {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  cursor: pointer;
  color: #9ea09a;
}
