.container {
  padding: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

* {
  font-family: "poppins", sans-serif;
}

.mat-sidenav-container {
  height: 100vh;
  background-color: transparent !important;;
  position: relative;
}

mat-sidenav-content {
  height: 100vh;
}

mat-sidenav {
  font-family: "poppins", sans-serif;
  color: white;
  min-width: 22rem;
  background-color: var(--main-color);
}

@media (max-width: 350px) {
  mat-sidenav {
    width: 100vw !important;
    min-width: 0;
  }
}
