
* {
  color: var(--light-grey-text);
}

:host ::ng-deep ::-webkit-scrollbar {
  width: 0;
  height: 0;
}

:host ::ng-deep ::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.container {
  max-width: 45rem;
}

.mat-sidenav-container {
  background-color: transparent !important;;
  position: relative;
}

mat-sidenav {
  font-family: "poppins", sans-serif;
  color: white;
  max-width: 16rem;
  background-color: var(--main-color);
}

.sidenav-open-btn {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 0.3rem;
}

.friends-container {
  background-color: var(--main-color);
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  height: 40rem;
}

.direct-messages {
  font-weight: 500;
}

.friends-list-wrapper {
  min-width: 15rem;
  padding: 0.6rem;
  border-right: 1px solid gray;
}

.header-navbar {
  min-height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px gray solid;

}

.header-navbar  button{
  color: white;
  background: none;
  border: none;
}

.header-navbar  button:hover{
  background-color: #414141;
}

.main-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  position: relative;
}

.main-content {
  height: 100%;
  width: 100%;

}

.friends-list {
  list-style: none;
  padding: 0;
}

.friends-list li {
  border-radius: 6px;
  margin-bottom: 0.4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  cursor: pointer;
}

.friends-list li:hover {
  background-color: #545454;
}

.friends-list img {
  height: 2.5rem;
  border-radius: 50%;
}

.friends-list span {
  margin-left: 0.3rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.pending-btn {
  padding-right: 0;
}


@media (min-width: 768px) {
  .main-content {
    max-width: 28.45rem;
  }
}
