<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
              <p class="text-white-50 mb-5"></p>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typeEmailX">Username</label>
                    <input type="email" class="form-control form-control-lg" formControlName="userName"/>
                    <span *ngIf="!userName.valid && (userName.touched || userSubmitted)" class="error-block">
                      <span *ngIf="userName.hasError('required')">
                        Please provide a username
                      </span>
                      <span *ngIf="userName.hasError('minlength')">
                        Username must be at least 4 characters
                      </span>
                    </span>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typeEmailX">Email</label>
                    <input type="email" class="form-control form-control-lg" formControlName="email"/>
                    <span *ngIf="!email.valid && (email.touched || userSubmitted)" class="error-block">
                      <span *ngIf="email.hasError('required')">
                        Please provide an email
                      </span>
                      <span *ngIf="email.hasError('email')">
                        Please provide a valid email address
                      </span>
                    </span>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typePasswordX">Password</label>
                    <input type="password" class="form-control form-control-lg" formControlName="password"/>
                    <span *ngIf="!password.valid && (password.touched || userSubmitted)" class="error-block">
                      <span *ngIf="password.hasError('required')">
                        Please provide a password
                      </span>
                      <span *ngIf="password.hasError('minlength')">
                        Password must be at least 6 characters
                      </span>
                    </span>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typePasswordX">Repeat Password</label>
                    <input type="password" class="form-control form-control-lg" formControlName="confirmPassword"/>
                    <span *ngIf="!confirmPassword.valid && (confirmPassword.touched || userSubmitted)" class="error-block">
                      <span *ngIf="password.hasError('required')">
                        Please confirm password
                      </span>
                      <span *ngIf="registerForm.hasError('notmatched')">
                        Passwords do not match
                      </span>
                    </span>
                  </div>


                  <button class="btn btn-outline-light btn-lg px-5" type="submit" style="margin-top: 20px;">Create Account</button>
            </form>
            </div>

            <div>
              <p class="mb-0">Already have an account? <a routerLink="/login" class="text-white-50 fw-bold">Sign In</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
