.game-list {
  padding: 0;
}

.game-list-item {
  list-style: none;
  text-align: left;
  border: 1px grey solid;
  margin-top: -1px;
  display: flex;
  align-items: center;
  gap: 0.45rem;
}

.game-image {
  width: 50px;
  height: 50px;
  object-fit:cover;
}

.delete-game-btn {
  font-size: 30px;
  margin-left: auto;
  cursor: pointer;
  margin-right: 5px;
}

.modal-content {
  background-color: var(--main-color);
}

.modal-title {
  color: var(--generic-text);
}

.btn-close {
  background-color: #6c757d;
}

.filter-menu {
  margin: 1rem 0;
}

.filter-input {
  width: 80%;
  height: 2rem;
  border-radius: 10px;
}

.sort-btn {
  height: 1.75rem;
  width: auto;
  border: none;
  border-radius: 5px;
}

.sort-btn-icon {
  font-size: 1.2rem;
}


@media (max-width: 400px) {
  .card-body {
    padding-left: 3px !important;
    padding-right: 3px !important;
  }
}
