<section class="add-game-form vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Games List</h2>
              <div class="filter-menu">
                <input [(ngModel)]="filterString" class="filter-input" type="text" placeholder="Filter Games...">
                <button>A</button>
                <button>D</button>
              </div>
              <ul *ngIf="gamesList.length > 0" class="game-list">
                <li *ngFor="let game of gamesList | filter: filterString " class="game-list-item">
                  <img class="game-image" src="{{game.imageUrl}}">
                  <label class="game-label">{{game.name}}</label>
                  <i class="bx bx-x delete-game-btn" (click)="confirmDeleteGame(game)" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"></i>
                </li>
              </ul>
              <p *ngIf="getGamesErrorMessage" class="error-block">{{getGamesErrorMessage}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmDeleteModalLabel">WARNING</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="modal-title">Are you sure you want to permanently <span style="color:red;">DELETE</span> "{{gamePendingDeletion?.name}}" from the database?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteGame()">Yes</button>
      </div>
    </div>
  </div>
</div>
