* {
  color: var(--light-grey-text);
}

.view-profile-container {
  max-width: 40rem;
  display: flex;
  margin: 0 auto;
}

.view-profile {
  background-color: var(--main-color);
  min-height: 50rem;
  width: 100%;
  margin: 0 auto;
}

.profile-header-content {
  padding: 1.7rem 1rem;
  display: flex;
  flex-wrap: wrap;

}

.user-details {
  padding: 0.3rem 0.5rem;
  max-width: 17rem;
  min-width: 14rem;

}

.profile-header-content img {
  height: 9rem;
  border-radius: 5px;
}

.persona-name {
  font-size: 2rem;
  text-transform: capitalize;
}

.user-summary {
  margin-top: 2rem;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  max-width: 12rem;
  flex-basis: 100%;
  margin-top: 1rem;
}

.navigation span {
  border: 1px solid var(--light-grey-text);
  border-radius: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 2rem;
  align-items: center;
  margin: 0.2rem;
  cursor: pointer;
}

.navigation span:hover {
  background-color: #2f2f3d;
}

.invalid-user {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invalid-user h2 {
  color: red;
}

.discord-link {
  margin: 0 0.8rem;
  display: flex;
  align-items: center;

}

.discord-image-container {
  background-color: #3a3e42;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 50;
}

.discord-logo {
  height: 2rem;
}

.discord-username {
  margin-left: -0.5rem;
  z-index: 40;

}

.discord-username input {
  color: var(--light-grey-text);
  text-indent: 0.5rem;
  border-radius: 5px;
  margin-left: 0.2rem;
  outline: none;
  background-color: #5c6268;
}

.discord-username input::placeholder {
  color: #ff0000;
}

.animate {
  transition: all 0.3s ease-in-out;
}

.drawer {
  position: relative;
  left: 0;
  transition: left 0.5s cubic-bezier(0.82, 0.085, 0.395, 0.895);
}

.drawer.inactive {
  left: -200px;
}

.discord-username-wrapper {
  position: relative;
  overflow: hidden;
  margin-left: -4px;
}

.spin-clockwise {
  animation: spinClockwise 0.5s linear forwards;
}

.spin-counter-clockwise {
  animation: spinCounterClockwise 0.5s linear forwards;
}

.user-games-section {
  border-top: 1px solid gray;
  margin: 1rem;
  text-align: center;
}

.user-games-item {
  margin: 0.3rem;
  cursor: pointer;
}

.user-games-item:hover {
  scale: 1.2;
}

.user-games-item img{
  height: 3.5rem;
  border-radius: 50%;
}

.user-games-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--main-color);
  border-color: gray;
}
.card-header {

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header img {
  height: 4rem;
  border-radius: 30%;
}

.card-header span {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 1rem;
}

.user-game-details-wrapper {
  margin-top: 3.5rem;
}

.game-description textarea {
  min-width: 22rem;
  background-color: #2a2e33;
  height: 10rem;
  outline: none;
}

.matching-notifier {
  color: #1fc55e;
}

@keyframes spinClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinCounterClockwise {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.glow-border {
  animation: glow 2s infinite;
}

@keyframes glow {
  0% {
    border: 2px solid rgba(0, 255, 0, 0.7);
  }
  50% {
    border: 2px solid rgba(0, 255, 0, 1);
    box-shadow: 0 0 10px rgba(0, 255, 0, 1);
  }
  100% {
    border: 2px solid rgba(0, 255, 0, 0.7);
  }
}
