<div class="view-profile-container">
  <div class="view-profile">
    <div class="profile-header">
      <div *ngIf="isValidUsername" class="profile-header-content">
        <img [src]="user?.profileImageUrl">
        <div class="user-details">
          <div class="persona-name">
            <span>{{user?.displayName}}</span>
          </div>
          <div class="user-summary">
            <p>{{user?.summary}}</p>
          </div>
        </div>
        <div class="navigation">
          <span *ngIf="isMyOwnProfile" routerLink="/settings">Edit</span>
          <span *ngIf="!sentFriendRequest && !isMyOwnProfile && loggedInUser && !receivedFriendRequest && !areFriends" (click)="onSendFriendRequest()">Send Friend Request</span>
          <span *ngIf="sentFriendRequest" (click)="onCancelFriendRequest()">Cancel Friend Request</span>
          <span *ngIf="receivedFriendRequest" (click)="onAcceptFriendRequest()">Accept Friend Request</span>
          <span *ngIf="areFriends" routerLink="/friends">Message</span>
          <span *ngIf="areFriends" (click)="onRemoveFriend()">Unfriend</span>
        </div>
      </div>
      <div class="discord-link">
        <div class="discord-image-container" [ngClass]="{'pulse': !showDiscordUsername }" (click)="toggleDiscordUsername()">
          <img class="discord-logo rotate" [ngClass]="{
            'spin-clockwise': showDiscordUsername,
            'spin-counter-clockwise': showDiscordUsername == false
          }" src="/assets/images/discord-logo.png">
        </div>
        <div class="discord-username-wrapper">
          <div class="discord-username animate drawer" [ngClass]="{'inactive': !showDiscordUsername}">
            <input class="animate" type="text" [value]="user?.discordUsername"  placeholder="No discord provided" readonly>
          </div>
        </div>
      </div>

      <div class="user-games-section">
        <h2>User games</h2>
        <div class="user-games-container">
          <div class="user-games-item animate" *ngFor="let game of userGames" (click)="onUserGame(game)">
            <img [src]="game.gameImageUrl">
          </div>
        </div>
        <div *ngIf="userGameDetailsOpen" class="card user-game-details">
          <div class="card-body">
            <div class="card-content">
              <div class="card-header">
                <img [src]="userGameSelected.gameImageUrl">
                <span>{{userGameSelected.gameName}}</span>
              </div>
              <div class="game-description">
                <textarea readonly [value]="userGameSelected.userDescription"></textarea>
              </div>
            </div>
          </div>

        </div>
      </div>
    <div class="invalid-user" *ngIf="isValidUsername === false">
      <h2>INVALID USERNAME</h2>

    </div>
    <!-- <button (click)="test()">test</button> -->
  </div>
</div>
