<div class="view-profile-container">
  <div class="view-profile">
    <div class="profile-header">
      <div *ngIf="isValidUsername" class="profile-header-content">
        <img [src]="user?.profileImageUrl">
        <div class="user-details">
          <div class="persona-name">
            <span>{{user?.displayName}}</span>
          </div>
          <div class="user-summary">
            <p>{{user?.summary}}</p>
          </div>
        </div>
        <div class="navigation">
          <span *ngIf="isMyOwnProfile" routerLink="/settings">Edit</span>
          <span *ngIf="!sentFriendRequest && !isMyOwnProfile && loggedInUser && !receivedFriendRequest && !areFriends" (click)="onSendFriendRequest()">Send Friend Request</span>
          <span style="background-color: red;" *ngIf="sentFriendRequest">Cancel Friend Request</span>
          <span *ngIf="receivedFriendRequest" (click)="onAcceptFriendRequest()">Accept Friend Request</span>
          <span *ngIf="areFriends" (click)="onRemoveFriend()">Unfriend</span>
          <span *ngIf="areFriends" routerLink="/friends">Message</span>
        </div>
      </div>
      <div class="discord-link">
        <div class="discord-image-container" [ngClass]="{'pulse': !showDiscordUsername }" (click)="toggleDiscordUsername()">
          <img class="discord-logo rotate" [ngClass]="{
            'spin-clockwise': showDiscordUsername,
            'spin-counter-clockwise': showDiscordUsername == false
          }" src="/assets/images/discord-logo.png">
        </div>
        <div class="discord-username-wrapper">
          <div class="discord-username animate drawer" [ngClass]="{'inactive': !showDiscordUsername}">
            <input class="animate" type="text" [value]="user?.discordUsername"  placeholder="No discord provided" readonly>
          </div>
        </div>

      </div>
    </div>
    <div class="invalid-user" *ngIf="isValidUsername === false">
      <h2>INVALID USERNAME</h2>
    </div>
    <!-- <button (click)="test()">test</button> -->
  </div>
</div>
