<div class="chat-container">
  <div class="chat-header">
    <img [src]="chatUser.profilePictureUrl">
    <span>{{chatUser.displayName}}</span>
  </div>
  <div class="chat-box-wrapper">
    <div class="chat-messages" #chatMessagesContainer>
      <div *ngFor="let userMessage of chatMessages | sort: 'ascending' : 'timestamp'">
        <div class="chat-message-wrapper">
          <img [src]="userMessage.user1ProfilePictureUrl">
          <div class="chat-message">
            <div class="chat-message-header">
              <span style="font-weight: 700;">{{userMessage.user1DisplayName}}</span>
              <span class="chat-date">{{userMessage.timestamp | date:'HH:mm'}}</span>
              <span class="chat-date">{{userMessage.timestamp | date:'dd/mm/yyyy'}}</span>
            </div>
            <div class="message">
              {{userMessage.messageString}}
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="chat-field-wrapper">
      <input type="text" class="chat-field" [(ngModel)]="chatFieldMessage" [placeholder]="messageFieldPlaceholder" (keyup.enter)="sendMessage()" #chatField>
    </div>

  </div>

</div>
