<div class="chat-container">
  <div class="chat-header">
    <img [src]="chatUser.profilePictureUrl">
    <span>{{chatUser.displayName}}</span>
  </div>
  <div class="chat-box-wrapper">
    <div class="chat-messages">
      <div class="" *ngFor="let userMessage of chatMessages | sort: 'ascending' : 'timestamp'">
        <div class="chat-message-wrapper">
          <img [src]="userMessage.user1ProfilePictureUrl">
          <div class="chat-message-header">
            {{userMessage.user1DisplayName}}
            {{userMessage.timestamp | date:'HH:mm'}}
          </div>
          <div class="message">
            {{userMessage.messageString}}
          </div>
        </div>
      </div>
    </div>
    <div class="chat-field-wrapper">
      <input type="text" class="chat-field" [(ngModel)]="chatFieldMessage" [placeholder]="messageFieldPlaceholder" (keyup.enter)="sendMessage()">
    </div>

  </div>

</div>
