<div class="chat-container">
  <div class="chat-header">
    <img [src]="chatUser.profilePictureUrl">
    <span>{{chatUser.displayName}}</span>
  </div>
  <div class="chat-box-wrapper">
    <div class="chat-messages">
      <div class="" *ngFor="let message of chatMessages | sort: 'ascending' : 'messageDate'">
        <div class="chat-message-wrapper">
          <img [src]="message.userPhoto">
          <div class="chat-message-header">
            {{message.displayName}}
            {{message.messageDate | date:'HH:mm'}}
          </div>
          <div class="message">
            {{message.message}}
          </div>
        </div>
      </div>
      <span>{{chatUser.username}}</span>
    </div>
    <div class="chat-field-wrapper">
      <input type="text" class="chat-field" [(ngModel)]="chatFieldMessage" [placeholder]="messageFieldPlaceholder" (keyup.enter)="sendMessage()">
    </div>

  </div>

</div>
