
.close-btn{
  font-size: 40px;
  cursor: pointer;
  top: 0;
  right: 0;
  position: fixed;
  margin-top: 0.7rem;
  margin-right: 0.7rem;
}

.sidenav-header {
  border-bottom: 1px #9a999b solid;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.sidenav-title {
  padding-top: 0.9rem;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.text {
  color: var(--sidebar-menu-text);
}

.sidebar-open-btn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  margin: 8px 10px 0 0;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.sidebar-menu-item {
  color: var(--sidebar-menu-text);
  list-style: none;
  border: 2px var(--sidebar-menu-text) hidden;
  border-radius: 0.725rem;
  margin: auto;
  height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.sidebar-menu-item:hover {
  background-color: var(--sidebar-menu-text);
}

.regular-item:hover .label,
.regular-item:hover .icon {
  color: var(--main-color);
}

.sidebar-menu-item .icon {
  font-size: 35px;;
  margin-right: 1rem;
}

.sidebar-menu-item .label {
  color: var(--sidebar-menu-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.425rem;
  transition: 0.3s;
}

.sidebar-menu-item:hover .label {
  transform: translateX(20%);
}

.sidenav-body {
  padding: 10px;
}

.user-info-bottom {
  position: absolute;
  bottom: 0;
  background-color: #262b30;
  height: 4rem;
  width: 100%;
  border-top: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info-bottom img {
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 0.5rem;

}

.user-info-bottom span{
  text-transform: capitalize;
  font-size: 1.5rem;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  padding-left: 0.7rem;
}

.user-info {
  display: flex;
  align-items: center;
}

.account-menu-container {
  margin-right: 1.5rem;
  border: 2px solid #a9a9ad;
  border-radius: 7px;
  padding: 0.15rem;
  cursor: pointer;
}

.account-menu {
  font-size: 1.7rem;
}

.account-menu-popup {
  position: absolute;
  bottom: 2.5rem;
  right: 0.5rem;
  background-color: #1f2226;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  width: 120px;
}

.menu-option {
  padding: 0.5rem 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.menu-option:hover {
  background-color: #56565b;
}

.menu-option-icon{
  font-size: 1.5rem;
}

.menu-option span {
  font-size: 1rem;
}

.admin-header {
  color: #2ba6ff;
}

.admin-menu:last-child {
  margin-bottom: 5rem;
}

@media (max-width: 350px) {
  * {
    font-size: 5vw !important;
  }

  .close-btn {
    font-size: 40px !important;
  }
}
