
.close-btn{
  font-size: 40px;
  cursor: pointer;
  top: 0;
  right: 0;
  position: fixed;
  margin-top: 0.7rem;
  margin-right: 0.7rem;
}

.sidenav-header {
  border-bottom: 1px #9a999b solid;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.sidenav-title {
  padding-top: 0.9rem;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.text {
  color: var(--sidebar-menu-text);
}

.sidebar-open-btn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  margin: 8px 10px 0 0;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.sidebar-menu-item {
  color: var(--sidebar-menu-text);
  list-style: none;
  border: 2px var(--sidebar-menu-text) hidden;
  border-radius: 0.725rem;
  margin: auto;
  height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.sidebar-menu-item:hover {
  background-color: var(--sidebar-menu-text);
  border: solid;
}

.sidebar-menu-item:hover .label,
.sidebar-menu-item:hover .icon {
  color: var(--main-color);
}

.sidebar-menu-item .icon {
  font-size: 35px;;
  margin-right: 1rem;
}

.sidebar-menu-item .label {
  color: var(--sidebar-menu-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.425rem;
  transition: 0.3s;
}

.sidebar-menu-item:hover .label {
  transform: translateX(20%);
}

.sidenav-body {
  padding: 10px;
}

.user-info-bottom {
  position: absolute;
  bottom: 0;
  background-color: #262b30;
  height: 4rem;
  width: 100%;
  border-top: 1px solid grey;
  display: flex;
  align-items: center;
}

.user-info-bottom img {
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 0.5rem;

}

.user-info-bottom span{
  text-transform: capitalize;
  font-size: 1.5rem;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  padding-left: 0.7rem;
}


