<div class="container">
  <div class="header">
    Search for friends
  </div>
  <div class="search-bar-container">
    <input class="input-field" type="text" [(ngModel)]="searchParameters" placeholder="Enter your friend's profile name" (keyup.enter)="searchUsers()">
  </div>

  <ul class="users-from-search">
    <li *ngFor="let user of searchResults | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }" class="user-item">
      <img [src]="user.profileImageUrl" (click)="onUserClick(user)">
      <span (click)="onUserClick(user)">{{user.displayName}}</span>
      <div class="action-wrapper" >
        <span class="add-friend" *ngIf="user.friendStatus == ''" (click)="onAddFriend(user)">ADD AS FRIEND</span>
        <span class="already-friends" *ngIf="user.friendStatus == 'friends'">You are friends</span>
        <span class="cancel-request" *ngIf="user.friendStatus == 'pending'" (click)="onCancelRequest(user)">CANCEL REQUEST</span>
      </div>
    </li>
  </ul>
  <div class="pagination">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>

</div>
