<div class="background">
  <div class="page-header">
    <p>Welcome</p>
  </div>
  <div class="page-overview">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius temporibus labore modi doloremque rerum perferendis distinctio, incidunt, id delectus quis commodi minima natus consectetur beatae tempore repellat sint ut, iste aut! Sit, veritatis repudiandae. Dolorem vero ab enim perferendis laudantium eos molestias rerum dicta atque officiis, delectus, voluptates debitis impedit ad. Atque, sunt placeat laborum rem exercitationem, quibusdam accusamus molestiae adipisci, maiores quos recusandae modi deleniti nulla eaque? Sapiente necessitatibus numquam repellat magnam doloribus vero placeat nihil quibusdam? Praesentium neque iure, reprehenderit possimus quod voluptate rem optio nostrum blanditiis ex numquam alias nemo doloribus ad voluptatem nulla ducimus reiciendis!</p>
  </div>
  <div class="page-header">
    <p>How to use</p>
  </div>
  Click <a href="/game-selection">here</a>
</div>
