* {
  color: var(--light-grey-text)
}

.background {
  background-color: var(--main-color);
  margin: 8rem auto 0 auto;
  max-width: 55rem;
  padding-bottom: 5rem;
  border-radius: 10px;
}

.page-header {
  font-size: 2rem;
  padding-top: 2.5rem;
  overflow-wrap: break-word;
  text-align: center;
}

.page-text {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

.page-hyperlink {
  color: #64a4fc;
}
