<div class="background">
  <div class="page-header">
    <p>Welcome</p>
  </div>
  <div class="page-text">Thank you for visiting my project!</div>
  <div class="page-text">
    Playing video games with friends is the most fun way to experience most games, rather than playing alone. However, finding buddies with similar gaming interests as yourself to play with can sometimes be difficult. This web app allows users to easily find people to play with, based on their game preferences.
  </div>
  <div class="page-text">After a user successfully matches with another user (they add each other to their friends list), they can send each other messages in real-time using the friends chat.</div>
  <div class="page-text">For a more in-depth look at how to use the app and it's features, you can visit the <a routerLink="/documentation" class="page-hyperlink">Documentation</a>.</div>
</div>
