<div class="navbar">
  <div class="navbar-left">
    <a class="navbar-brand" href="/">NoSolo</a>

    <div *ngIf="!isSmallScreen" class="nav-links-section">
      <ul class="nav-links">
        <li class="nav-link-item">
          <a class="nav-item"  routerLink="game-selection">My Games</a>
        </li>
        <li class="nav-link-item">
          <a class="nav-item" routerLink="friends">My Friends</a>
        </li>
        <li class="nav-link-item">
          <a class="nav-item" routerLink="documentation">Documentation</a>
        </li>
      </ul>
    </div>
  </div>

  <ul class="navbar-acc-nav">
    <li *ngIf="!loggedIn()" class="navbar-acc-item" routerLink="/login"><a>Login</a></li>
    <li *ngIf="!loggedIn()" class="navbar-acc-item" routerLink="/register"><a>Register</a></li>
    <p *ngIf="loggedIn()" class="welcome">Welcome {{username}}</p>
    <i *ngIf="loggedIn()" class='bx bx-menu sidebar-open-btn' style='color:#eaeaea' (click)="toggleSidenav()"></i>
  </ul>

</div>
