<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">NoSolo</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link your-games" routerLink="game-selection">Your Games</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-acc-nav">
    <li *ngIf="!loggedIn()" class="navbar-acc-item" routerLink="/login"><a>Login</a></li>
    <li *ngIf="!loggedIn()" class="navbar-acc-item" routerLink="/register"><a>Register</a></li>
    <p *ngIf="loggedIn()" class="welcome">Welcome {{username}}</p>
  </ul>
  <i *ngIf="loggedIn()" class='bx bx-menu sidebar-open-btn' style='color:#eaeaea' (click)="toggleSidenav()"></i>
</nav>
