@keyframes glowing {
  0% {
    text-shadow: 0 0 5px #fff;
  }
  50% {
    text-shadow: 0 0 20px #00e6e6;
  }
  100% {
    text-shadow: 0 0 5px #fff;
  }
}

* {
  font-family: "poppins", sans-serif;
  color: var(--light-grey-text);
}

.navbar {
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 3.5rem;
}

.navbar-acc-nav {
  color: white;
  display: flex;
  justify-content: center;
  margin: 0;
  position: fixed;
  right: 0;
}

.navbar-acc-item {
  list-style: none;
  margin-right: 15px;
  cursor: pointer;
}

.welcome {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-right: 0.7rem;
}

.glowing-text {
  animation: glowing 1.5s infinite;
}

.nav-link-item {
  height: 2.3rem;
}

.your-games {
  background: #cf26ff;
  border-radius: 1rem;
  font-size: 0.90rem;
  color: white;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
  width: 7rem;
  justify-content: center;
}

.sidebar-open-btn {
  z-index: 9999;
  font-size: 40px;
  margin-right: 0.525rem;
  cursor: pointer;
}

.navbar-brand {
  margin-left: 0.5rem;
}

.navbar-brand:hover {
  color: white;
}

.nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-left {
  display: flex;
  align-items: center;
}
