.navbar {
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-acc-nav {
  color: white;
  display: flex;
  align-items: center;
  margin: 0;
}

.navbar-acc-item {
  list-style: none;
  margin-right: 15px;
  cursor: pointer;
}

.welcome {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-right: 65px;
}
