<div class="content">
  <div class="large-screen-selection" style="border-right: 1px solid #4f5254;">
    <i class='bx bx-x selection-btn select-no animate' (click)="onSelectNo()"></i>
  </div>
  <app-profile-card *ngIf="dataReady && currentUserIndex < matches?.length" [userProfile]="currentDisplayedUser"
  [userProfileGames]="currentDisplayedUserGames"
  [isNestedInsideFindFriends]="true" ></app-profile-card>
  <div *ngIf="dataReady == false" class="background-blank">
    <div class="spinner"></div>
  </div>
  <div *ngIf="currentUserIndex >= matches?.length && dataReady" class="background-blank">
    <p class="no-users">You have ran out of users to match with.</p>
  </div>
  <div class="large-screen-selection" style="border-left: 1px solid #4f5254;">
    <i class='bx bx-check selection-btn select-yes animate' (click)="onSelectYes()"></i>
  </div>

</div>


