<div class="content">
  <div class="large-screen-selection" style="border-right: 1px solid #4f5254;">
    <i class='bx bx-x selection-btn select-no animate' (click)="onSelectNo()"></i>
  </div>
  <app-profile-card *ngIf="dataReady" [userProfile]="currentDisplayedUser" [isNestedInsideFindFriends]="true"></app-profile-card>
  <div *ngIf="dataReady == false" class="background-loading">
    <div class="spinner"></div>
  </div>
  <div class="large-screen-selection" style="border-left: 1px solid #4f5254;">
    <i class='bx bx-check selection-btn select-yes animate' (click)="onSelectYes()"></i>
  </div>
</div>


