* {
  font-family: "poppins";
}

.background {
  width: 100%;
  background-color: var(--main-color);
  margin: 0 auto;
  color: var(--light-grey-text);
  min-height: 25rem;
}

.error-image-container {
  padding: 0 3rem;
}

.center {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.error-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.go-back-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.go-back-button:hover {
  background-color: #0056b3;
}

.btn-container {
  padding-bottom: 1rem;
}
