.card-content, .description-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content {
  min-height: 55rem;
}

.dropdown-list {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 15;
  top: 100%;
  width: 100%;
  overflow-y: auto;
  max-height: 25rem;
  transform: translateY(1px);

}

.search-field {
  width: 100%;
  outline: none;
}

.dropdown-list li img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.dropdown-list.visible {
  display: block;
}

.dropdown-list li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-list li:hover {
  background-color: #f5f5f5;
}

.game-label {
  color: #333333;
  cursor: pointer;
}


.input-wrapper {
  position: relative;
  width: 70%;
}

.clear-button {
  position: absolute;
  top: 50%;
  font-size: 20px;
  color: #333333;
  right: 4px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}


.description-wrapper {
  margin-top: 2rem;
  width: 100%;
  min-height: 10rem;
}

.description-field {
  width: 70%;
  height: 10rem;
  max-height: 10rem;
}


.selected-game-wrapper {
  margin-top: 1.50rem;
  position: relative;
  background-color: #cf26ff;
  min-height: 2.3rem;
  min-width: 50%;
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 100%);
}

.selected-game-wrapper:hover {
  background-color: #9123b2;
}

.selected-game-wrapper:hover .clear-button {
  background-color: #9123b2;
}

.selected-game-wrapper img {
  height: 100%;
  position: absolute;
  left: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.selected-game-wrapper label {
  margin-left: 3rem;
  color: white;
  font-family: poppins, sans-serif;
  font-weight: 700;
  flex: 1;
  display: inline-block;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: text;
  z-index: 5;
}

.selected-game-wrapper i {
  margin-right: 5px;
  z-index: 10;
  background: #cf26ff;
}

.confirm-button {
  background-color: var(--main-color);
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  margin-top: 1rem;
  min-width: 10rem;
  min-height: 3rem;
}

.confirm-button:hover {
  background-color: #3b4045;
}

.confirm-button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.add-game-card {
  min-height: 300px;
  max-height: 450px;
  background-color: var(--main-color);
  border: 1px solid #eaeaea;
}

.add-game-header {
  font-size: 2rem;
  text-align: center;
}

