.shimmer {
  background: linear-gradient(90deg, #6f706f 25%, #afafaf 50%, #6f706f 75%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
